@use "@/styles/@root/colors";
@use "@/styles/@root/utils";

.inner {
  width: 100%;
  background-color: colors.$light-background;
  overflow-x: hidden;
  .page {
    background-color: colors.$white-background;
  }
  .slide {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: colors.$white-background;
    z-index: 8;
  }
}
