@use "@styles/@root/colors";
@use "@styles/@root/utils";

@media only screen and (min-width: 1440px) and (max-width: 1600px) {
  #hero {
    .content {
      .title {
        width: 600px;
        .heading {
          font-size: 5rem;
        }
      }
    }
  }
  /* FEATURES */
  #features {
    .title {
      .heading {
        font-size: 4rem;
      }
    }
  }
  /* MANIFESTO */
  #manifesto {
    .content {
      .title {
        .heading {
          font-size: 4rem;
        }
        .paragraph {
          font-size: 24px;
        }
      }
    }
  }
  /* PROVIDERS */
  #providers {
    .title {
      grid-template-columns: 2.2fr 1.5fr 2.2fr;
      .heading {
        font-size: 4rem;
      }
      .text {
        font-size: 18x;
      }
    }
  }
  /* PLANS */
  #plans {
    .title {
      .heading {
        font-size: 4rem;
      }
    }
  }
  /* FAQ */
  #faq {
    .title {
      .heading {
        font-size: 4rem;
      }
    }
  }
  /* CONTACT */
  #contact {
    .title {
      .heading {
        font-size: 4rem;
      }
    }
  }
}
